<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <link rel="stylesheet" href="/themes/custom/ds_custom/assets/dist/main.css">
    {{ attach_library('ds_custom/global-styling') }}
    {{ attach_library('ds_custom/global-styling') }}
  </head>
  <body{{ attributes.addClass('ds-body') }}>
    <a href="#main-content" class="skip-link">Skip to content</a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
